{% load static %}
<link rel="stylesheet" href="{% static "css/applicant_page.css" %}">
<link href="{% static "scripts/select2-develop/dist/css/select2.min.css" %} " rel="stylesheet" />
<script src="{% static "scripts/select2-develop/dist/js/select2.min.js" %} "></script>
<script src="{% static "scripts/functions2.js" %} "></script>
<script type="text/javascript">
    $(document).ready(function(){
        applyInputLimits();
        applyInputRequerments();
        applyClickSelection();
        $("select").select2({
            placeholder: "Select a state"
        });
    });
</script>
<div class="category-container main-info">
  <div class="title-div">
    <p class="title">Общая информация</p>
  </div>
  <div class="category_div request_data">
    <div class="category_left_side_div">
      <p class="variable_name">Номер заявки:</p>
      <p class="variable_name">Дата регистрации:</p>
      <p class="variable_name">Автор</p>
    </div>
    <div class="category_right_side_div">
      <p class="variable_data">-</p>
      <p class="variable_data">-</p>
      <p class="variable_data">Name Surname</p>
    </div>
  </div>
</div>
<div class="category-container status">
  <div class="title-div">
    <p class="title" id="status_form_title">Статус</p>
  </div>
  <div class="category_div" id="status_form">
    <div class="category_left_side_div">
      <p class="variable_name">Оповещения:</p>
      <p class="variable_name hidden_text" >-</p>
      <p class="variable_name hidden_text">-</p>
{#      <p class="variable_name" id="status2">Статус:</p>#}
      <p class="variable_name hidden_text">-</p>
    </div>
    <div class="category_right_side_div">
      {{ form.applicant_is_notified }}<p class="variable_data display_inline">Заявитель оповещен</p><br>
      {{ form.performer_is_notified }}<p class="variable_data display_inline">Исполнитель оповещен</p><br>
      {{ form.operator_is_notified }}<p class="variable_data display_inline">Оператор оповещен</p><br>
      {{ form.storage }}<p class="variable_data display_inline">Требуется отметка со склада</p><br>
    </div>
  </div>
</div>
<br>
<div class="category-container applicant">
  <div class="title-div">
    <p class="title" id="applicant_form_title">Заявитель</p>
  </div>
  <div class="category_div" id="applicant_form">
    <div class="category_left_side_div">
      <p class="variable_name" id="applicant2">Заявитель:</p>
      <p class="variable_name">Подразделение:</p>
      <p class="variable_name">Телефон:</p>
      <p class="variable_name" id="cabinet2">Кабинет:</p>
      <p class="variable_name" id="location2">Местоположение:</p>
    </div>
    <div class="category_right_side_div">
        {{ form.applicant }} <br>

        <div id="applicant_data">
          <p class="variable_data">-</p>
          <p class="variable_data">-</p>
        </div>

        <script type="text/javascript">
            $('#applicant_select').on('change', function () {
                $.ajax(
                    {
                        type: "GET",
                        url: "{% url 'request:show_applicant_ajax' %}",
                        data: {
                            applicant_id: $('#applicant_select').val(),
                        },
                        success: function (data) {
                           $('#applicant_data').html(data);
                        }
                    })
            });
        </script>

      {{ form.room }} <br>
      {{ form.building }} <br>
    </div>
  </div>
</div>
<div class="category-container request-info">
  <div class="title-div">
    <p class="title" id="request_form_title">Тип заявки</p>
  </div>
  <div class="category_div" id="request_form">
    <div class="category_left_side_div">
      <p class="variable_name" id="request_from2">Способ обращения:</p>
      <p class="variable_name" id="request_type12">Тип заявки:</p>
    </div>
    <div class="category_right_side_div">
        {{ form.way_to_treat }}<br>
        {{ form.type_of_request }}<br>
    </div>
  </div>
</div><br>
<div class="category-container request">
  <div class="title-div">
    <p class="title" id="request_form2_title">Заявление</p>
  </div>
  <div class="category_div" id="request_form2">
    <div class="category_left_side_div">
      <p class="variable_name" id="request_type22">Тип заявления:</p>
      <p class="variable_name">Приоритет:</p>
      <p class="variable_name" id="request_description2">Описание:</p>
      <p class="variable_name hidden_text">-</p>
      <p class="variable_name hidden_text">-</p>
      <p class="variable_name hidden_text">-</p>
      <p class="variable_name hidden_text">-</p>
      <p class="variable_name hidden_text">-</p>
      <p class="variable_name">Вложения:</p>
    </div>
    <div class="category_right_side_div">
        {{ form.type }}<br>
        {{ form.priority }}<br>
        {{ form.description }}<br>
        {{ form.file }}
    </div>
  </div>
</div>