{% load static %}
<link rel="stylesheet" href="{% static "css/applicant_page.css" %}">
<link href="{% static "scripts/select2-develop/dist/css/select2.min.css" %} " rel="stylesheet" />
<script src="{% static "scripts/select2-develop/dist/js/select2.min.js" %} "></script>
<script src="{% static "scripts/functions2.js" %}"></script>
<script type="text/javascript">
  applyInputLimits();
  applyInputRequerments();
  applyClickSelection();
  $("select").select2({
    placeholder: "Select a state"
  });
</script>
<div class="category-container main-info">
  <div class="title-div">
    <p class="title">Общая информация</p>
  </div>
  <div class="category_div request_data">
    <div class="category_left_side_div">
      <p class="variable_name">Номер заявки:</p>
      <p class="variable_name">Дата регистрации:</p>
      <p class="variable_name">Автор:</p>
    </div>
    <div class="category_right_side_div">
      <p class="variable_data">{{ specific_request.pk }}</p>
      <p class="variable_data">{{ specific_request.date }}</p>
      <p class="variable_data">-</p>
    </div>
  </div>
</div>
<div class="category-container status">
  <div class="title-div">
    <p class="title" id="status_form_title">Статус</p>
  </div>
  <div class="category_div" id="status_form">
    <div class="category_left_side_div">
      <p class="variable_name">Оповещения:</p>
        {% if notified == 2 %}
            <p class="variable_name hidden_text" >-</p>
        {% endif %}
        {% if notified == 3 %}
            <p class="variable_name hidden_text" >-</p>
            <p class="variable_name hidden_text" >-</p>
        {% endif %}
      <p class="variable_name" id="status2">Статус:</p>
        {% if specific_request.storage == True %}
             <p class="variable_name hidden_text">-</p>
        {% endif %}
    </div>
    <div class="category_right_side_div">
        {% if specific_request.applicant_is_notified == True %}
             <p class="variable_data ">Заявитель оповещен</p>
        {% endif %}
        {% if specific_request.performer_is_notified == True %}
             <p class="variable_data ">Исполнитель оповещен</p>
        {% endif %}
        {% if specific_request.operator_is_notified == True %}
             <p class="variable_data ">Оператор оповещен</p>
        {% endif %}
        <p class="variable_data ">{{ specific_request.status }}</p>
        {% if specific_request.storage == True %}
             <p class="variable_data ">Требуется отметка со склада</p>
        {% endif %}
    </div>
  </div>
</div>
<br>
<div class="category-container applicant">
  <div class="title-div">
    <p class="title" id="applicant_form_title">Заявитель</p>
  </div>
  <div class="category_div" id="applicant_form">
    <div class="category_left_side_div">
      <p class="variable_name" id="applicant2">Заявитель:</p>
      <p class="variable_name">Подразделение:</p>
      <p class="variable_name">Телефон:</p>
      <p class="variable_name" id="cabinet2">Кабинет:</p>
      <p class="variable_name" id="location2">Местоположение:</p>
    </div>
    <div class="category_right_side_div">
      <p class="variable_data">{{ specific_request.applicant }}</p>
      <p class="variable_data">{{ specific_request.applicant.department.name }}</p>
      <p class="variable_data">{{ specific_request.applicant.phone }}</p>
      <p class="variable_data">{{ specific_request.room }}</p>
      <p class="variable_data">{{ specific_request.building }}</p>
    </div>
  </div>
</div>
<div class="category-container request-info">
  <div class="title-div">
    <p class="title" id="request_form_title">Тип заявки</p>
  </div>
  <div class="category_div" id="request_form">
    <div class="category_left_side_div">
      <p class="variable_name" id="request_from2">Способ обращения:</p>
      <p class="variable_name" id="request_type12">Тип заявки:</p>
    </div>
    <div class="category_right_side_div">
      <p class="variable_data">{{ specific_request.way_to_treat }}</p>
      <p class="variable_data">{{ specific_request.type_of_request }}</p>
    </div>
  </div>
</div><br>
<div class="category-container request">
  <div class="title-div">
    <p class="title" id="request_form2_title">Заявление</p>
  </div>
  <div class="category_div" id="request_form2">
    <div class="category_left_side_div">
      <p class="variable_name" id="request_type22">Тип заявления:</p>
      <p class="variable_name">Приоритет:</p>
      <p class="variable_name" id="request_description2">Описание и вложения:</p>
    </div>
    <div class="category_right_side_div" style="vertical-align:top">
      <p class="variable_data">{{ specific_request.type.name }}</p>
      <p class="variable_data">{{ specific_request.priority }}</p>
      <p class="variable_data" style="overflow:auto;max-width:300px">{{ specific_request.description }}</p>
      <img style="width:125px;height:125px;padding:10px;display:inline-block;"><!-- картинки в таком формате -->
    </div>
  </div>
</div>
