{% load static %}
<link rel="stylesheet" href="{% static "css/performer_page.css" %}">
<link href="{% static "scripts/select2-develop/dist/css/select2.min.css" %} " rel="stylesheet" />
<script src="{% static "scripts/select2-develop/dist/js/select2.min.js" %} "></script>
<script src="{% static "scripts/functions2.js" %} "></script>
<script type="text/javascript">
  $(document).ready(function () {
      applyInputLimits();
      applyInputRequerments();
      applyClickSelection();
      $("select").select2({
        placeholder: "Select a state"
      });
  })
</script>
<div class="category-container performer_data_container">
  <div class="title-div">
    <p class="title" id="performer_data_form_title">Исполнитель</p>
  </div>
  <div class="category_div" id="performer_data_form">
    <div class="category_left_side_div">
      <p class="variable_name" id="performer2">Смена исполнителя:</p>
      <p class="variable_name hidden_text exsc hidden">-</p>
      <p class="variable_name">Статус:</p>
      <p class="variable_name" id="new_status2">Смена статуса:</p>
    </div>
    <div class="category_right_side_div">
      {{ form.performer }}<br>
      <p class="variable_data">{{ specific_request.status }}</p>
      {{ form.status }}<br>
    </div>
  </div>
</div><br>
<div class="category-container work_progress">
  <div class="title-div">
    <p class="title" id="performer_progress_form_title">Исполнение</p>
  </div>
  <div class="category_div" id="performer_progress_form">
    <div class="category_left_side_div" style="vertical-align:top">
      <p class="variable_name hidden_text">-</p>
      <p class="variable_name date_exp hidden">Дата завершения:</p>
      <p class="variable_name ">Исполнение:</p>
      <p class="variable_name hidden_text">-</p>
      <p class="variable_name hidden_text">-</p>
      <p class="variable_name hidden_text">-</p>
      <p class="variable_name hidden_text">-</p>
      <p class="variable_name ">Код закрытия:</p>
      <p class="variable_name hidden_text unfinished hidden">-</p>
      <p class="variable_name ">Сложность:</p>
      <p class="variable_name ">Вложения:</p>
    </div>
    <div class="category_right_side_div">
      <input class="variable-input checkbox materials_usage_check" id="materials_usage" type="checkbox" name="materials_usage" value="true"><p class="variable_data display_inline">Расход материалов</p>

        <script type="text/javascript">
            $('#materials_usage').on('change', function () {
                if (document.getElementById('materials_usage').checked) {
                    $.ajax(
                    {
                        type: "GET",
                        url: "{% url 'request:show_performer_storage_ajax' %}",
                        success: function (data) {
                           $('#storage_ajax').html(data);
                           $("#storage_type").select2({
                            placeholder: "Select a state"
                          });
                        }
                    })
                } else {
                    $('#storage_ajax').html('');
                }
            });
        </script>
      <input class="variable-input checkbox date_exp_check" id="change_date" type="checkbox" name="date_exp" value="true"><p class="variable_data display_inline">Перенос сроков</p><br>

        <script type="text/javascript">
            $('#change_date').on('change', function () {
                if (document.getElementById('change_date').checked) {
                    $.ajax(
                    {
                        type: "GET",
                        url: "{% url 'request:show_performer_date_ajax' %}",
                        success: function (data) {
                           $('#deadline_ajax').html(data);
                           $('.date_exp').removeClass('hidden')
                        }
                    })
                } else {
                    $('#deadline_ajax').html('');
                    $('.date_exp').addClass('hidden')
                }
            });
        </script>

        <div id="deadline_ajax">
        </div>
      {{ form.performer_comment }}<br>
      {{ form.exit_code }}<br>
        {{ form.complexity }}<br>
        {{ form.performer_file }}
    </div>
  </div>
</div>
<div class="category-container materials" id="storage_ajax">

</div>
