<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Document Page</title>
    <link rel="stylesheet" href="css/standart.css">
    <link rel="stylesheet" href="css/document_basics.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="scripts/toggle_lists.js"></script>
  </head>
  <body>
    <header>
      <nav class="navigation">
        <div id="navigation">

        </div>
        <div id="navigation_content" class="dynamic_navigation">

        </div>
      </nav>
      <script type="text/javascript">
      $(document).ready(function() {
        $('#navigation').load("templates/navigation.html");
        $('#navigation_content').load("templates/document_navigation.html");
        $('#applicant_page').load("templates/applicant_page_text.html");
        $('#applicant_page').addClass('hidden');
        $('#performer_page').load("templates/performer_page.html");
        $('main').css("height",$( window ).height()-40);
        $('.content').css("width",$( window ).width()-247);
        $( window ).resize(function() {
          $('main').css("height",$( window ).height()-40);
          $('.content').css("width",$( window ).width()-247);
        });
        $('.form1').unbind('click');
        $('.form1').on('click',function(){
          $('#applicant_page').removeClass('hidden');
          $('#performer_page').addClass('hidden');
          $('#list2').addClass("hidden");
          $('#arrow2').addClass("right");
          $('#arrow2').removeClass("down");
        });
        $('.form2').unbind('click');
        $('.form2').on('click',function(){
          $('#applicant_page').addClass('hidden');
          $('#performer_page').removeClass('hidden');
          $('#list2').removeClass("hidden");
          $('#arrow2').removeClass("right");
          $('#arrow2').addClass("down");
        });
      });
      </script>
    </header>
    <main>
      <div class="relative_map">
        <div class="filter">
          <div class="multiple_options_name_div form1" id="1">
            <p class="multiple_options_name" id="total_data_title">Заявлено</p>
          </div>
          <div class="multiple_options_div total_data_content hidden form1" id="list1">

          </div>
          <div class="multiple_options_name_div form2" id="2">
            <i class="arrow right" id="arrow2"></i>
            <p class="multiple_options_name" id="total_performer_data_title">Исполнение</p>
          </div>
          <div class="multiple_options_div total_performer_data_content hidden form2" id="list2">
            <div class="multiple_options_name_div" id="21">
              <i class="arrow right" id="arrow21"></i>
              <p class="total_performer_data multiple_options_name" id="performer_data_title">Исполнитель</p>
            </div>
            <div class="multiple_options_div performer_data_content hidden" id="list21">
              <div class="option_div">
                <p class="performer1 performer_data option">Исполнитель</p>
              </div>
              <div class="option_div">
                <p class="new_status1 performer_data option">Статус</p>
              </div>
            </div>
            <div class="multiple_options_name_div" id="22">
              <i class="arrow right" id="arrow22"></i>
              <p class="total_performer_data multiple_options_name" id="progress_data_title">Исполнение</p>
            </div>
            <div class="multiple_options_div progress_data_content hidden" id="list22">
              <div class="option_div">
                <p class="materials_usage_check1 progress_data option">Расход материалов</p>
              </div>
              <div class="option_div">
                <p class="date_exp_check1 progress_data option">Перенос сроков</p>
              </div>
              <div class="option_div hidden">
                <p class="date_exp1 progress_data option">Дата переноса</p>
              </div>
              <div class="option_div">
                <p class="progress_description1 progress_data option">Описание</p>
              </div>
              <div class="option_div">
                <p class="exit_code1 progress_data option">Код закрытия</p>
              </div>
              <div class="option_div">
                <p class="complexity1 progress_data option">Сложность</p>
              </div>
              <div class="option_div">
                <p class="performer_file1 progress_data option">Вложения</p>
              </div>
            </div>
            <div class="multiple_options_name_div hidden" id="23">
              <i class="arrow right" id="arrow23"></i>
              <p class="total_performer_data multiple_options_name" id="materials_usage_data_title">Расход материалов</p>
            </div>
            <div class="multiple_options_div materials_usage_data_content hidden" id="list23">
              <div class="option_div">
                <p class="materials_usage_description1 materials_usage_data option">Описание<p>
              </div>
              <div class="option_div">
                <p class="storage_type1 materials_usage_data option">Источник</p>
              </div>
            </div>
          </div>
        </div>
        <div class="content" id="content">
          <form action="update_performer" id="document_form">
            <div id="applicant_page">

            </div>
            <div id="performer_page">

            </div>
            <div id="applicant_page2">

            </div>
          </form>
        </div>
      </div>
    </main>
  </body>
</html>
