<form>
    <link rel="stylesheet" href="{% static "css/document_basics.css" %}">
    <link rel="stylesheet" href="{% static "css/applicant_page.css" %}">
    <div class="category_div request_data">
        <div class="category_left_side_div">
            <p class="variable_name">Номер заявки:</p>
            <p class="variable_name">Дата регистрации:</p>
            <p class="variable_name">Адрес:</p>
        </div>
        <div class="category_right_side_div">
            <p class="variable_data">-</p>
            <p class="variable_data">-</p>
            <p class="variable_data">Name Surname</p>
        </div>
    </div>
</form>