main{
  width: 100%;
}
.relative_map{
  position: relative;
  height:100%;
  width: 100%;
}
.filter{
  position: absolute;
  display: inline-block;
  width: 245px;
  border-right: 2px solid #bbb;
  background-color: #333;
  height: 100%;
  overflow: auto;
}
.content{
  display: inline-block;
  background-color: #eee;
  height: 100%;
  margin-left: 247px;
  overflow: scroll;
}
.multiple_options_name{
  color:#eee;
  margin:0 0 0 30px;
  padding: 4px;
}
.multiple_options_name_div{
  cursor: pointer;
}
.multiple_options_name_div i{
  float: left;
  display: inline-block;
}
.multiple_options_name_div:hover{
  background-color: #888;
  box-shadow: 0 0 8px #000 inset;
}
.option{
  color: #eee;
  margin:0 0 0 30px;
  padding:4px;
}
.option_div{
  cursor:pointer;
}
.option_div:hover{
  background-color: #888;
  box-shadow: 0 0 8px #000 inset;
}
.hidden{
  display: none;
}
.multiple_options_div .option{
  margin:0 0 0 45px;
}
i {
  border: solid #eee;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  margin: 8px 0 0 15px;
}
.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}
.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}
.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
table{
  color:#444;
  font-size: 20px;
  resize: both;
  overflow:auto;
  border-collapse: collapse;
  text-align: center;
}
td,th{
  border-right:2px solid #eee;
  border-bottom:2px solid #eee;
  padding: 8px;
}
th{
  text-align: center;
}
.resizeable{
  resize: both;
}
.odd{
  background-color: #ccc;
}
.even{
  background-color: #ddd;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #eee;
}
::-webkit-scrollbar-thumb {
  background: #333;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
body{
  overflow:hidden;
}
