table{
  color:#444;
  font-size: 20px;
  resize: both;
  overflow:auto;
  border-collapse: collapse;
  text-align: center;
}
td,th{
  border-right:2px solid #eee;
  border-bottom:2px solid #eee;
  padding: 8px;
}
th{
  text-align: center;
}
.odd{
  background-color: #ccc;
}
.even{
  background-color: #ddd;
}
