p{
  margin:0;
}
body{
  margin:0;
  overflow:hidden;
}
main{
  position: absolute;
  top:40px;
  width: 100%;
  height: 100%;
}
.relative_map{
  position: relative;
  height:100%;
  width: 100%;
}
.filter{
  position: absolute;
  display: inline-block;
  width: 245px;
  border-right: 2px solid #bbb;
  background-color: #333;
  height: 100%;
  overflow: auto;
}
.content{
  display: inline-block;
  background-color: #eee;
  height: 100%;
  margin-left: 247px;
  overflow: scroll;
}
.multiple_options_name{
  color:#eee;
  margin:0 0 0 30px;
  padding: 4px;
}
.multiple_options_name_div{
  cursor: pointer;
}
.multiple_options_name_div i{
  float: left;
  display: inline-block;
}
.multiple_options_name_div:hover{
  background-color: #888;
  box-shadow: 0 0 8px #000 inset;
}
.option{
  color: #eee;
  margin:0 0 0 30px;
  padding:4px;
}
.option_div{
  cursor:pointer;
}
.option_div:hover{
  background-color: #888;
  box-shadow: 0 0 8px #000 inset;
}
.multiple_options_div .option{
  padding-left: 15px;
}
.multiple_options_div .multiple_options_name_div{
  padding-left: 15px;
}
.multiple_options_div .multiple_options_div .option{
  padding-left: 30px;
}
i {
  border: solid #eee;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  margin: 8px 0 0 15px;
}
.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}
.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}
.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
::-webkit-scrollbar {
  width: 10px;
  height: 0px;
}
::-webkit-scrollbar-track {
  background: #eee;
}
::-webkit-scrollbar-thumb {
  background: #333;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input:not(input[type=checkbox]){
  margin:0;
  height: 24px;
}
.select2-selection{
  height: 24px;
}
.hidden{
  display: none;
}
